.card {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    margin: 5px;
    padding: 5px 10px;
}
.upper {
    font-size: 32px;
    text-align: left;
}
.center {
    font-size: 50px;
    text-align: center;    
}
.lower {
    font-size: 32px;
    transform: rotate(180deg);
}