<h2>Todo List</h2>
<ng-content select="[header]"></ng-content>
<p>
    <a role="button" [routerLink]="['/todos', currentId]">Neue Aufgabe</a>
</p>
<div>Fertige Aufgaben: {{ percentDone | percent : '1.2' }}</div>
<ul>
    <li *ngFor="let todo of todoList">
        <div>
            <input type="checkbox" [checked]="todo.completed" (change)="toggle(todo)" />
            <strong [ngClass]="{ done: todo.completed }"> Todo {{ todo.title | uppercase }}</strong>
            <button (click)="edit(todo)">🖊️ ({{ todo.id }})</button>
        </div>
    </li>
</ul>
